<div class="row">
  <div class="col">
    <h3><b>Users</b></h3>
    <p class="card-text"><small class="text-muted">Note - List of users registered with the portal.</small></p>
  </div>
</div>
<div class="row">
  <div class="col">
    </br>
    <div class="card shadow mb-4">
      <div class="card-body" id="uTableCard">
        <div class="table-responsive">
          <table id="user_table" class="table table-bordered table-sm" width="100%" cellspacing="0"></table>
        </div>
      </div>
    </div>
  </div>
</div>
<%= javascript_pack_tag 'list_users' %>