.home-landing {
  background-image: url("../../assets/images/notice-home.jpg");
  background-repeat: no-repeat;
  background-size: 30% 70%;
  background-position: center;
  background-attachment: fixed;
}